In [2]:
a=4
b=6
c=8
c=c+2

print(id(a))
print(id(b))
print(id(c))

140733945836424
140733945836488
140733945836616

In [3]:
d=10
for i in range(1,20):
    print(id(d))

140733945836616
140733945836616
140733945836616
140733945836616
140733945836616
140733945836616
140733945836616
140733945836616
140733945836616
140733945836616
140733945836616
140733945836616
140733945836616
140733945836616
140733945836616
140733945836616
140733945836616
140733945836616
140733945836616

In [4]:
# List are mutable and can be change, whereas in variable the memory is fixed.
# storing the interger value
list_of_integer=[1,2,3,4,5]
for i in list_of_integer:
    print(i, end=" ")
print(list_of_integer)
print(id(list_of_integer))
print(type(list_of_integer))

1 2 3 4 5 [1, 2, 3, 4, 5]
2635968340096
<class 'list'>

In [5]:
# accessing the value from the list
print(list_of_integer[0])

1

In [6]:
# append
list_of_integer.append(10)
list_of_integer

[1, 2, 3, 4, 5, 10]

In [7]:
# remove
list_of_integer.remove(10)

In [8]:
list_of_integer

[1, 2, 3, 4, 5]

In [9]:
# storing list in list
# matrix store
a=[40,50,60]
b=[60,70,80]
c=[a,b]
print(c)

[[40, 50, 60], [60, 70, 80]]

In [10]:
#accessing the matrix
c[0][1]

50

In [11]:
c[1][1]  # [row][column]

70

In [12]:
a*2   # python is general purpose language

[40, 50, 60, 40, 50, 60]

In [13]:
# storing the variable in the list that cannot be changes. 
a=(10,11) # tuple immutable hain.modification nhi honge
print(a)

(10, 11)

In [14]:
# append will not work in tuple, as tuple already is immutable
a.append(100)

AttributeError: 'tuple' object has no attribute 'append'

In [15]:
# count the number of element in the tuple 
a.count(10)

1

In [16]:
seta={1,2,3}
print(seta)

{1, 2, 3}

In [17]:
seta.add(2)

In [18]:
print(seta)

{1, 2, 3}

In [19]:
seta.add(5555)
print(seta)

{1, 2, 3, 5555}

In [21]:
dict1={"name":"Ayush","batch":"b1"}
dict1

{'name': 'Ayush', 'batch': 'b1'}

In [22]:
dict1.values()

dict_values(['Ayush', 'b1'])

In [23]:
# accesing the value in the dictionary
dict1["name"]

'Ayush'

In [24]:
dict1["batch"]

'b1'

In [25]:
a=int(input("enter the number =>"))

for i in range(1,11):
    val=a*i
    print(f"{a} x {i}=> {val}")

enter the number => 54

54 x 1=> 54
54 x 2=> 108
54 x 3=> 162
54 x 4=> 216
54 x 5=> 270
54 x 6=> 324
54 x 7=> 378
54 x 8=> 432
54 x 9=> 486
54 x 10=> 540

In [26]:
def calc(a,b,c):
    sum1=a+b+c
    average=sum1/3
    print(f"sum of the number is {sum1}")
    print(f"average of the number is {average}")
    print(f"minimum of the number is {min(a,b,c)}")
    print(f"maximum of the number is {max(a,b,c)}")

x= int(input("enter the value 1=> "))
y= int(input("enter the value 2=> "))
z= int(input("enter the value 3=> "))
calc(x,y,z)

enter the value 1=>  2
enter the value 2=>  3
enter the value 3=>  4

sum of the number is 9
average of the number is 3.0
minimum of the number is 2
maximum of the number is 4

In [28]:
# what is the user want to add more argument

def calc(a,b,c,d=0,e=0):
    sum1=a+b+c+d+e
    average=sum1/5
    print(f"sum of the number is {sum1}")
    print(f"average of the number is {average}")
    print(f"minimum of the number is {min(a,b,c,d,e)}")
    print(f"maximum of the number is {max(a,b,c,d,e)}")

calc(14,2,388,450,5320)
print()
calc(10,20,40)

sum of the number is 6174
average of the number is 1234.8
minimum of the number is 2
maximum of the number is 5320

sum of the number is 70
average of the number is 14.0
minimum of the number is 0
maximum of the number is 40

In [29]:
def calc(a,b,*args):
    print(a)
    print(b)
    print(args)

calc(10,20,30,40,50)
print()
calc(10,20,40)

10
20
(30, 40, 50)

10
20
(40,)