In [7]:
x="hello world"
x.replace('l','r')

'herro worrd'

In [8]:
id(x)

2635837308976

In [9]:
type(x)

str

In [10]:
x.replace("hewwo","hello")

'hello world'

In [11]:
str2="0123456789"
print(len(str2))
# the range is from 0 to N-1

10

In [12]:
# access the first index of the string
str2[0]

'0'

In [13]:
str2[0:5]

'01234'

In [14]:
# agar index jada put kar dey toh Exception show hoga : array index out of bound

str2[12]

IndexError: string index out of range

In [15]:
# to print the complete string using slicing 
str2[0:len(str2)]

# or
str2[0:]

'0123456789'

In [16]:
# x=10/2
# x

# need to get output only 5 instead of 5.0
x=int(10/2)
x

5

In [17]:
bool(0)

False

In [18]:
bool(-1)
# In Python, any non-zero value is considered True when evaluated as a boolean. This includes negative numbers like -1.

True

In [19]:
a=-10001.000012
print(abs(a))

10001.000012

In [20]:
round(a,2)

-10001.0

In [21]:
a=[1,2,3,4]
a

[1, 2, 3, 4]

In [22]:
a[0]

1

In [23]:
# changing the value of index 0
a[0]=10
a
# this prove that list are mutable

[10, 2, 3, 4]

In [24]:
# using inbuilt function
sum(a)

19

In [25]:
# Input Function

In [26]:
name=input("Enter your name: ")
print(f"my name is {name}")

Enter your name:  Ayush

my name is Ayush

In [27]:
import sys # Sys are in built function

x=42
size=sys.getsizeof(x)
print(f"Size of x:{size} bytes")

Size of x:28 bytes

In [28]:
# syntax of function


def display(testvar):
    print(f"Value is {testvar} ")
    print(f"Value  of ID is {id(testvar)}")
    print(f"Value  of ID is {type(testvar)}")

a=int(input("enter the number"))
display(a)
display(a)

enter the number 4

Value is 4
Value  of ID is 140733945836424
Value  of ID is <class 'int'>
Value is 4
Value  of ID is 140733945836424
Value  of ID is <class 'int'>